---
import { Image } from "astro:assets";
import { BRANDS } from "@/consts/brands";

const availableLogosWidth = "1135px";
---

<section id="brands" class="px-8 lg:px-16 pt-12">
	<div class="flex flex-col gap-4">
		<div class="text-white font-medium text-sm md:text-base uppercase">
			<span class="mr-2">•</span>Clients
		</div>
		<div
			class="text-white font-medium text-4xl sm:text-5xl md:text-7xl uppercase text-balance">
			<h3>Brands We Worked With</h3>
		</div>
	</div>
	<div
		class="mx-auto overflow-hidden relative w-full mt-12 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]">
		<div
			class="flex gap-8 flex-nowrap animate-infinite-scroll slide-track data-cursor">
			{
				BRANDS.slice(0, 20).map((brand) => (
					<div class="logo">
						<Image
							src={`/img/brands/${brand.id}.webp`}
							alt={`${brand.name}'s Logo'`}
							width={673}
							height={673}
							class:list={["w-full", "object-cover", "aspect-square"]}
						/>
					</div>
				))
			}
		</div>
	</div>
	<div
		class="mx-auto overflow-hidden relative w-full mt-12 [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)] pb-12">
		<div
			class="flex gap-8 flex-nowrap animate-infinite-scroll-reverse slide-track data-cursor">
			{
				BRANDS.slice(20, 40).map((brand) => (
					<div class="logo">
						<Image
							src={`/img/brands/${brand.id}.webp`}
							alt={`${brand.name}'s Logo'`}
							width={673}
							height={673}
							class:list={["w-full", "object-cover", "aspect-square"]}
						/>
					</div>
				))
			}
		</div>
	</div>
</section>

<style define:vars={{ availableLogosWidth }}>
	.logo {
		width: calc(calc(var(--availableLogosWidth) - (5 - 1) * 2rem) / 5);
	}

	.slide-track {
		width: calc(
			20 * calc(calc(var(--availableLogosWidth) - (5 - 1) * 2rem) / 5)
		);
	}
</style>
