---
import { Image } from "astro:assets";
import projectImage from "@/assets/project.webp";
---

<section id="our-team" class="px-8 lg:px-16">
  <div class="flex flex-col gap-4 pb-16">
    <div class="text-white font-medium text-sm md:text-base uppercase">
      <span class="mr-2">•</span>Our Team
    </div>
  </div>
  <div class="flex w-full justify-end pr-24">
    <div class="flex w-2/3 gap-24 justify-end">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Xavier Illas
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Creative Director, Founder.
          </p>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Alfred Concise
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Senior Designer
          </p>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Bruce Fields
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Senior Designer
          </p>
        </div>
        <div class="flex flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Dylan Cox
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Photo/Video
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Xavier Illas
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Creative Director, Founder.
          </p>
        </div>
        <div class="flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Alfred Concise
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Senior Designer
          </p>
        </div>
        <div class="flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Bruce Fields
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Senior Designer
          </p>
        </div>
        <div class="flex-col">
          <h3 class="text-xl font-medium text-[var(--color-primary)]">
            Dylan Cox
          </h3>
          <p class="text-base font-thin text-[var(--color-primary)]">
            Photo/Video
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  #our-team {
    margin-top: 3rem !important;
  }

  .member {
    width: calc(50vw - 5.5rem);
  }
</style>
