---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/sections/Contact.astro";
import Hero from "@/sections/Hero.astro";
import AboutUs from "@/sections/about/About-Us.astro";
import Brands from "@/sections/about/Brands.astro";
import OurTeam from "@/sections/about/OurTeam.astro";
import Process from "@/sections/about/Process.astro";
---

<Layout
	title="About Us - Lowton Advertising"
	description="About Lowton Advertising. Experts in mixing the rational and the emotional to offer the most innovative and imaginative solutions to help your brand grow."
>
	<main class="space-y-24">
		<Hero
			title="Let's increase the value of your brand."
			textClass="text-[12.5vw] md:text-[7vw] sm:text-[10vw]"
		/>
		<OurTeam />
		<AboutUs />
		<Process />
		<Brands />
		<Contact subtitle="Have a project in mind?" title="Let's work together" />
	</main>
</Layout>
