---
import Layout from "../layouts/Layout.astro";
import About from "@/sections/About.astro";
import Featured from "@/sections/Featured.astro";
import Contact from "@/sections/Contact.astro";
import Hero from "@/sections/Hero.astro";
import Services from "@/sections/Services.astro";
import Testimonials from "@/sections/Testimonials.astro";
import Work from "@/sections/Work.astro";
---

<Layout
	title="Lowton Advertising"
	description="Experts in mixing the rational and the emotional to offer the most innovative and imaginative solutions to help your brand grow."
	canonical="https://lowton.tv/">
	<main class="space-y-24">
		<Hero
			title="If you want your business to do better, make people's lives better."
			textClass="pb-16"
		/>
		<Work />
		<About />
		<Featured
			title="Featured Works"
			border="border-b border-[var(--color-primary)]"
		/>
		<Services />
		<Testimonials />
		<Contact subtitle="Let's Talk" title="Contact" />
	</main>
</Layout>
<script>
	document.addEventListener("astro:page-load", () => {
		console.log(window.scrollY);
	});
</script>
