---
import Layout from "@/layouts/Layout.astro";
import Contact from "@/sections/Contact.astro";
import Hero from "@/sections/Hero.astro";
import Works from "@/components/Works.jsx";
---

<Layout
	title="Our Work - Lowton Advertising"
	description="Our work. Projects and case studies.">
	<main class="space-y-24">
		<Hero
			title="Latest projects & case studies"
			className="items-center lg:items-center"
			textClass="md:text-[7vw]"
		/>
		<Works client:only="react" />
		<Contact subtitle="Have a project in mind?" title="Let's work together" />
	</main>
</Layout>
