---
const { component } = Astro.props;

import type { Component } from "@/consts/projects";
import { Image } from "astro:assets";
---

<div class="flex flex-col gap-8">
	{
		component.map((c: Component) => (
			<div class="w-full rounded-xl overflow-hidden">
				<Image
					width={c.image?.width || 1200}
					height={c.image?.height || 800}
					quality="mid"
					class:list={["w-full object-cover"]}
					alt={`"${c.image?.alt}"`}
					src={c.image?.url || c.images?.[0]?.url || ""}
				/>
			</div>
		))
	}
</div>

<style>
	img {
		aspect-ratio: 1.5 / 1;
	}
</style>
