---
import Facebook from "@/components/icons/Facebook.astro";
import Instagram from "@/components/icons/Instagram.astro";
import LinkedIn from "@/components/icons/Youtube.astro";
import X from "@/components/icons/X.astro";
import Youtube from "@/components/icons/Youtube.astro";
---

<footer id="footer" class="px-8 lg:px-16 pb-12">
	<div
		class="flex justify-center md:justify-end py-8 border-y border-[var(--color-primary)]">
		<nav>
			<ul class="flex items-center gap-6">
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Facebook de Lowton"
						href="https://www.facebook.com/lowton.tv"
						class="hover:scale-105 transform duration-300">
						<Facebook />
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Instagram de Lowton"
						href="https://www.instagram.com/xavi_illas/"
						class="hover:scale-105 transform duration-300">
						<Instagram />
					</a>
				</li>
				<li>
					<a
						target="_blank"
						rel="noopener"
						aria-label="Youtube de Lowton"
						href="https://www.youtube.com/@lowton_tv"
						class="hover:scale-105 transform duration-300">
						<Youtube />
					</a>
				</li>
			</ul>
		</nav>
	</div>
</footer>
