---
import HeroTitle from "@/components/HeroTitle";
import { cursorState } from "@/stores/cursorStore";
---

<section id="hero" class="px-8 lg:px-16">
  <div
    class="grid items-end pb-10 mx-auto lg:grid-cols-12 grid-cols-6 select-none hh"
  >
    <div class="col-span-6 lg:col-span-11">
      <HeroTitle client:media="(min-width: 768px)" />
    </div>
  </div>

  <style>
    .hh {
      height: calc(100dvh - 70px);
    }
  </style>

  <script></script>
</section>
