---
import { Image } from "astro:assets";
import testimonialImage from "@/assets/testimonial1.webp";
import type { Testimonial } from "@/consts/projects";
import client from "@/lib/apollo-client";
import { TESTIMONIALS } from "@/lib/utils";

const { data } = await client.query({
	query: TESTIMONIALS,
});

const testimonials: Testimonial[] = data.testimonials;
---

<section id="testimonials" class="px-8 lg:px-16">
	<div class="flex flex-col md:flex-row w-full md:gap-8 md:justify-between">
		<div
			class="md:w-1/2 flex flex-col gap-4 text-white font-medium text-sm md:text-base uppercase">
			<div><span class="mr-2">•</span><span>Testimonials</span></div>
			<div
				class="text-white font-medium text-4xl sm:text-5xl md:text-7xl uppercase">
				<h3>What Our Clients Say</h3>
			</div>
		</div>
		<div
			class="w-full flex flex-col gap-4 md:gap-8 md:w-1/2 pt-12 pb-6 mt-16 sm:mt-0">
			{
				testimonials.slice(0, 3).map((testimonial: Testimonial, i: number) => (
					<div class="flex flex-col gap-4 md:gap-8 data-cursor testimonial p-8 rounded-lg">
						<span class="text-[var(--color-primary)] font-normal text-sm md:text-base">
							{i + 1}.
						</span>
						<div
							class="text-white font-normal text-sm md:text-base text-balance"
							set:html={testimonial.text.html}
						/>
						<div class="flex w-full gap-4 items-center">
							<div class="size-10 sm:size-14 overflow-hidden rounded-full">
								<Image
									src={testimonialImage}
									alt="testimonial image"
									width={56}
									height={56}
									class:list={["w-full", "h-full", "object-cover"]}
								/>
							</div>
							<div class="flex flex-col">
								<h5 class="font-medium text-white text-lg sm:text-xl">
									{testimonial.name}
								</h5>
								<span class="text-white font-normal text-sm sm:text-base">
									Digital Solutions Agency
								</span>
							</div>
						</div>
						<span class="bg-[var(--color-secondary)] p-[0.1px] w-full" />
					</div>
				))
			}
		</div>
	</div>
</section>

<style>
	#testimonials {
		margin: 3rem 0 !important;
	}

	.testimonial:nth-child(2) {
		position: absolute;
		background-color: var(--background-color);
	}
	.testimonial:nth-child(3) {
		position: absolute;
		background-color: var(--background-color);
	}
</style>

<!-- <script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
	gsap.registerPlugin(ScrollTrigger);

	console.log("Elements found:", document.querySelectorAll(".testimonial"));
	gsap.utils.toArray(".testimonial").forEach((testimonial) => {
		console.log("Testimonial Element:", testimonial);

		ScrollTrigger.create({
			trigger: testimonial as unknown as Element,
			start: "top top",
			pin: true,
		});
	});
</script> -->
