---
import { Image } from "astro:assets";
import projectImage from "@/assets/project.webp";
---

<section id="work" class="px-8 lg:px-16">
  <div class="w-full flex justify-between">
    <div class="w-1/2 text-white font-medium text-xs md:text-sm">
      <p>Based in Sarasota, Florida</p>
      <p>and Working Worldwide.</p>
    </div>
    <div
      class="w-1/2 text-white font-medium text-xs md:text-sm text-right text-balance"
    >
      <p>Renew, create, update and improve to get attention.</p>
      <p>Strategy, Design & Development.</p>
    </div>
  </div>
  <div class="grid py-8 grid-cols-1 md:grid-cols-3 gap-4">
    <div class="rounded-md">
      <Image
        src={projectImage}
        alt="work image"
        width={300}
        height={200}
        class:list={["w-full", "object-cover"]}
      />
    </div>
    <div class="bg-gray-200 p-4 rounded-md">Item 2</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 3</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 4</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 5</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 6</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 7</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 8</div>
    <div class="bg-gray-200 p-4 rounded-md">Item 9</div>
  </div>
</section>
