---
import "@fontsource-variable/inter";
import Header from "@/components/Header.astro";
import Cursor from "@/components/Cursor.astro";
import Footer from "@/sections/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import "@/styles/globals.css";
import SEO from "@/components/SEO.astro";
import Transition from "@/components/Transition.astro";

interface Props {
	title: string;
	description: string;
	canonical?: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<SEO canonical={canonical} description={description} title={title} />
		<ViewTransitions />
	</head>
	<body>
		<Cursor className="hidden lg:block" />
		<Header transition:persist />
		<slot />
		<Footer />
		<Transition />
		<style is:global>
			:root {
				--color-primary: #00ff18;
				--color-hover: #00660a;
				--color-secondary: #ababab;
				--color-text: #ffffff;
				--background-color: #0a0a0c;
				--background-transparent: rgb(10 10 12 / 0.75);
			}

			#hero h1 {
				font-family: "Helvetica", sans-serif;
			}

			html {
				font-family:
					"Inter Variable",
					system-ui,
					-apple-system,
					BlinkMacSystemFont,
					"Segoe UI",
					sans-serif;
			}

			body {
				background-color: var(--background-color);
			}

			header {
				background: linear-gradient(
					180deg,
					#000b08 0%,
					rgba(8, 21, 17, 0.69) 41.67%,
					rgba(23, 61, 51, 0) 100%
				);
			}

			.overlap {
				position: relative;
				z-index: 2;
				background-color: var(--background-color);
			}
			p,
			span,
			h1,
			h2,
			h3,
			h4,
			h5 {
				position: relative;
				z-index: 12;
			}
		</style>
		<script>
			import { seoConfig } from "@/utils/seoConfig";
			import Lenis from "@studio-freight/lenis";

			if (window.innerWidth > 360) {
				const lenis = new Lenis();
				function raf(time: any) {
					lenis.raf(time);
					requestAnimationFrame(raf);
				}
				requestAnimationFrame(raf);
			}
			console.log(seoConfig.baseURL);
		</script>
	</body>
</html>
